<!DOCTYPE html>
<html>
<body>
	<div id="user_nav">
	  <% if current_user %>
		Signed in as <strong><%= current_user.name %></strong>!
		<%= link_to "Sign out", signout_path, id: "sign_out" %>
	  <% else %>
		<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
	  <% end %>
	</div>

	<div id="travels">
	Pas hieronder je reisnaam aan!
	
	<%= form_for @journey do |f| %>
	    <p>
		<%=  f.label :name %><br/>
		<%= f.text_field :name %><br/>
	    <%= f.file_field :image %>

		</p>
		<p>
		<%= f.submit "Submit" %>
		</p>
	<% end %>
</body>
</html>
