<!DOCTYPE html>
<html>
<body>
	<div id="user_nav">
	  <% if current_user %>
		Signed in as <strong><%= current_user.name %></strong>!
		<%= link_to "Sign out", signout_path, id: "sign_out" %>
	  <% else %>
		<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
	  <% end %>
	</div>

	<div id="travels">
	<h1>Hieronder al je reizen!</h1>
	<% @journey.each do |journey| %>
        <h2><%=  link_to journey.name, journey %></h2>
        <div id= "links">
        <%= link_to  "edit", edit_journey_path(journey) %>
        <%= button_to 'Delete', journey, :method => :delete %> </p>
        </div>
	<% end %> 
	</div>
	
	<h2><%= link_to "Add a new journey" , new_journey_path %> </h2>

</body>
</html>
