<!DOCTYPE html>
<html>
<body>
    <div>
	<h1> Maak hieronder een nieuwe reis aan! </h1>
	.
	<%= form_for @journey ,:url => { :action => "create"}, :html => { :multipart => true} do |f| %>﻿
	    <p>
		<%=  f.label :name %><br/>
		<%= f.text_field :name %>
		<%= f.file_field :image %>
		</p>
		<p>
		<%= f.submit "Submit" %>
		</p>
	<% end %>

	</div>
</body>
</html>
