<!DOCTYPE html>
<html>
<body>
	<div id="user_nav">
	  <% if current_user %>
		Signed in as <strong><%= current_user.name %></strong>!
		<%= link_to "Sign out", signout_path, id: "sign_out" %>
	  <% else %>
		<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
	  <% end %>
	</div>

	<div id="travels">
	Hieronder al je reizen!
	<% @travels.each do |travel| %>
	  <ul>
        <li><%= travel.name %></td>
      </ul>
	<% end %> 
	</div>
	<div id="travelnew">
	Maak hieronder een nieuwe reis aan!
	
		<%= form_for(@journey) do |f| %>
			Naam van de reis! : <%= f.text_field :name %><br />
			<%= f.submit %>
		<% end %>
	</div>
</body>
</html>